@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {    
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(270deg, #155966, #573584, #243257, #0f576f);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

header {
    padding: 30px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;

}

nav {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 12px;
}

nav a {
    margin-right: 5px;
    color: white;
    z-index: 1;
    padding: 6px 15px; 
}

nav a:hover {
    background: white;
    color: #6268d7;
    border-radius: 20px;
}

.core {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.core img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    object-fit: cover;
}

.title {
    color: white;
    position: absolute;
    font-weight: 800;
    font-size: 4vmin;    
    top: 50%;    
    right: 0%;
    width: 90vmin;
}

.top {
    border-bottom: 1vmin solid white;
    top: 0;
}

#oeuvres {
    position: relative;
    padding-top: 1px;
}

article {
    padding: 50px;  
    display: flex;
    flex-direction: row;
    margin-bottom: -150px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: -1px;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden:nth-of-type(even) {
    transform: translateX(100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.show:nth-of-type(even) {
    transform: translateX(0);
}

article:nth-of-type(even) {
    flex-direction: row-reverse;
}

article img {
    max-width: 300px;
    object-fit: contain;
}

article img:hover {
    max-width: 350px;
    transition: 1s;
}

article .text {
    color: white;
    padding: 1.95em;
    max-width: 500px;
}

article h2 {
    text-transform: uppercase;
}

article p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8em;
}

footer {    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 30px;
}

footer a {
    color: white;
    padding: 6px 15px;
    text-transform: uppercase;
    font-size: 12px;  
    margin-right: 5px;
}

footer a:hover {
    background: white;
    color: #6268d7;
    border-radius: 20px;
}

.hokusai img {
    height: 100vh;
}

.hokusai .title {
    top: 25%;
}

.hokusai .title .top {
    padding-top: -25px;
}

.hokusai .title h1 {
    margin: -50px 0;
}

.hokusai .title h2 {
    margin-bottom: 0;
}

.hokusai .title p {    
    font-size: 0.66em;
}